body{
  margin: 0;
}
.grid{
  display: grid;
  background-color: #2196F3;
  grid-gap: 10px 10px;
  grid-template-columns: 70% auto;
  grid-template-rows:  auto;
  justify-content: space-around;
}
.grid>div{
  padding: 1em;
}
