body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

nav{
  margin: 20px 0;
  padding: 4px 20px;
  display: flex;
  justify-content: flex-start;
}


input{
  padding: 12px 20px;
  padding-right: 100px;
  width: 580px;
  border: none;
  border-radius: 24px;
  font-size: 1rem;
  border: 1px solid #dfe1e5;
  margin-left: 20px;
}

input:focus{
  outline: none;
}

input:hover{
  box-shadow: 2px 2px 2px #888888;
}

.search{
  position: relative;
}

.mic{
  position: absolute;
  top: 12px;
  right: 60px;
}

.search-icon{
  position: absolute;
  top: 15px;
  right: 20px;
}



.search img{
  width: 15px;
  margin-left: 5px;
}

.right-icons{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.right-icons img{
  width: 30px;
  margin-left: 15px;
  position: relative;
  top: 12px;
}


.logo{
  width: 110px;
}

.search-type{
  margin-left:22vh;
  margin-right:88vh;
  display: flex;
  justify-content: flex-start;
}

.search-type a{
  color: #5f6368;
  text-decoration: none;
  margin-right: 20px;
  font-size: 0.85rem;
  padding: 5px;
  display: block;
}

.search-type a:hover{
  color: #5d9cef;
}

.search-type i{
  display: inline;
  margin-right: 5px;
}

.centred-icons{
  display: flex;
  justify-content: center;
  width: 100%;
}

.active{
  border-bottom: 3px solid #1a73e8;
}

.header{
  border-bottom: 1px solid #ebebeb;
}

.search-results{
  margin-top: 10px;
  margin-left:22vh;
  width: 42vw;
}

.search-results a:nth-child(1){
  text-decoration: none;
  color: #1a0dab;
  font-size: 1.15rem;
}

.search-results a:nth-child(1):hover{
  text-decoration: underline;
}

.search-results span{
  color: #5f6368;
  font-size: 0.85rem;
}

.content-box{
  margin: 1rem 0;
}

.content-box p{
  margin: 2px 0;
  font-size: 0.85rem;
  color: #545454;
  line-height: 1.5;
}

.link-address{
  display: block;
  color: #0a6c2a;
  font-size: 0.85rem;
  text-decoration: none;
}

.link-address a:hover{
  text-decoration: none;
}

.bold{
  color: #76726e !important;
  font-weight: bold;
}

.more-links a{
  text-decoration: none;
  color: #1a0dab;
  font-size: 0.85rem !important;
  margin-right: 10px;
}

.more-links a:hover{
  text-decoration: underline;
}

.image-box img{
  margin-right: 15px;
}

.image-box a{
  text-decoration: none !important;
}

.image-box a:hover{
  text-decoration: none !important;
}

.related-search{
  padding: 30px 20px;
  padding-right: 400px;
  margin: 20px 0;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 15px;
  width: 100%;
}

.grid img{
  width: 100px;
  height: 60px;
}

.related-search-pages{
  margin: 0 20px;
}

.related-search-pages > div{
  display: grid;
  grid-template-columns: 50% 50%;
}

.related-search-pages a{
  display: block;
  line-height: 1.8;
}

.more-pages{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.more-pages span{
  font-size: 2rem !important;
  font-weight: bold;
}

.more-pages i{
  margin-left: 20px;
}

.blue, .more-pages i{
  color: #4386f4 !important;
}

.red{
  color: #ea4436 !important;
}

.yellow{
  color: #fbbc05 !important;
}

.green{
  color: #34a853 !important;
}

.more-pages a{
  color: #4386f4 !important;
  text-decoration: none;
  margin-right: 10px;
  font-size: 0.8rem;
}

.more-pages a:hover{
  text-decoration: underline !important;
}

.more-pages p{
  display: inline;
  margin-right: 10px;
  font-size: 0.8rem;
}

footer{
  margin-top: 30px;
  background: #f2f2f2;
  padding: 12px 0;
}

footer div{
  margin-left:24vh;
  width: 42vw;
}

footer span{
    color: #5f6368;
    font-size: 0.85rem;
}

footer a{
  color: #5f6368;
  font-size: 0.85rem;
  text-decoration: none;
}


footer a:hover{
  color: black;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

footer hr{
  border: 1px solid #ebebeb;
}